form {
  text-align: center;
}
input {
  width: 32%;
}
section {
  display: flex;
  flex-wrap: wrap;
  align-content: center; 
  justify-content: center;
}
input {
  text-align: center;
}
#submit, #picupload {
  width: 20%;
}
h2 {
  color: #C2C5AA;
  text-align: center; 
  text-shadow: 5px;
  
}