body {
  background-color: #656d4a;
}
div {
  background-color: #656D4A;
  text-align: center;
}
h3 {
  transform: rotate(-90deg);
  margin-top: 0px;  
  margin-bottom: 28px;
  margin-right: 0px;
  margin-left: 0px;
}
h1 {
  font-size: 75px;
  font-style: italic;
  margin-bottom: 0px;
  margin-left: 0px;
}
#applicationTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Audiowide', cursive;
  text-shadow: 5px 5px 3px rgba(0,0,0,.75);
  color: #C2C5AA;
}
i {
  font-size: 100px;
  width: 100%;
  color: #C2C5AA;
  margin-top: 10px;
  margin-bottom: 50px;
  text-shadow: 5px 5px rgba(0,0,0,.5);
}
.flexDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
button {
  width: 190px;
  height: 50px;
  border: #333D29 solid 3px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  border-radius: 5px;
}
#sent1 {
  padding-bottom: 10px;
  display: block;
}

#sent2 {
  display: block;
}

@media (max-width: 800px) {
  h1 {
    font-size: 30px;
  }
  h3 {
    display: none;
  }
  h4 {
    font-size: 18px;
  }
}
@media (max-width: 271px) {
  body {
    display: none;
  }
}